<article class="message">
    <div class="message-header">
        <p id="username">{{user.username}}</p>
        <p id="post-date">{{format_date createdAt}}</p>
    </div>
    <div class="message-body content-body">
        <div class="post-title">
            <h5>{{title}}</h5>
        </div>
    </div>
</article>