<div class="post-container">
    <article class="message post-display">
        <div class="message-header">
            <p id="username">{{user.username}}</p>
            <p id="post-date">{{format_date createdAt}}</p>
        </div>
        <div class="message-body content-body">
            <div class="post-title">
                <h5 class="post-title-text">{{title}}</h5>
                <span class="hidden">{{id}}</span>
            </div>
        </div>
    </article>
</div>