<article class="message reply-message">
    <div class="message-header">
        <p id="username">{{user.username}}</p>
        <p id="post-date">{{format_date createdAt}}</p>
    </div>
    <div class="message-body content-body">
        <div class="reply-text">
            <p id="text">{{{text}}}</p>
        </div>
    </div>
</article>