<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Test</title>
</head>
<body>
  <header>
    <div class="header-container">
        <!-- link to top of page -->
        <a href="#"><h1>Tech Blog</h1></a>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
              {{!-- <div class={{#unless loggedIn "hide"}}> --}}
                <li>
                    <a href="#">Login</a>
                </li>
              {{!-- </div>
              {{/unless}} --}}
              {{!-- <div class={{#unless !loggedIn "hide"}}> --}}
                <li>
                    <a href="#">Logout</a>
                </li>
              {{!-- </div>
              {{/unless}} --}}
            </ul>
        </nav>
</header>
  <main>
    <div class="column post-container">
      {{{body}}}
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/script.js"></script>
</body>
</html>