<section class="new-post-container" id="{{postId}}">
    <form class="edit-post">
        {{> create-post-partial}}
        <button class="button submit-edit-btn" id="submit-btn" type="submit">Submit</button>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/newpost.js"></script>