<div class="new-post-container">
    <form class="new-post">
        <input id="new-post-title" class="input" type="text" placeholder="Title" required>
        <textarea id="new-post-text" class="textarea" placeholder="Text" rows="15" required></textarea>
        <button class="button"><input id="submit-btn" type="submit" value="Submit"></button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/newpost.js"></script>