<div class="new-post-container">
    <form class="new-post">
        <input class="input" type="text" placeholder="Post Title" required>
        <textarea class="textarea" placeholder="Post Text" rows="15" required></textarea>
        <button class="button"><input id="submit-btn" type="submit" value="Submit"></button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/newpost.js"></script>