<div class="new-post-container">
    <form class="new-post">
        {{> create-post-partial}}
        <button class="button submit-post-btn" id="submit-btn" type="submit">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/newpost.js"></script>