<div class="expanded-post-container">
    <article class="expanded-post">
    <h1 id="expanded-post-title">{{post.title}}</h1>
    <p id="expanded-post-text">{{post.text}}</p>
    <p id="expanded-post-label">posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
    </article>
</div>