@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: #ffff;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 0;
    margin-right: 0;
    margin-left: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: rgb(50, 92, 141);
    height: 150px;
}

.header-container{
    display: flex;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    padding-right: 40px;
    align-items: center;
    justify-content: flex-end;
}

header h1 {
    font-family: 'Righteous', cursive;
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffff;
    white-space: nowrap;
}

header nav li{
    list-style-type: none;
    display: inline-block;
}

header nav li a {
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

header nav li a:hover {
    color: #ffff;
}

.mobile-icon-container {
display: none;
color: #ffff;
}

.mobile-icon {
font-size: 2.5rem;
}

.sidebar {
    position: fixed;
    z-index: 999;
    width: 40%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    transform-origin: right;
}

.sidebar-overlay {
    display: none;
    position: fixed;
    z-index: 998;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.sidebar-hidden {
    transform: scaleX(0);
}

.sidebar-visible {
    transform: scaleX(1);
}

.sidebar-icon-container {
    position: absolute;
    background: #ffff;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.sidebar-close-icon {
    color: rgb(50, 92, 141);
    background: #ffff;
}

.sidebar-menu {
    display: flex;
    background: #ffff;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2em;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    background: #ffff;
    color: rgb(50, 92, 141);
    cursor: pointer;
    text-decoration: none;
}

.sidebar-link:hover, .sidebar-close-icon:hover {
    color: rgb(94, 155, 226);
    transition: 0.2s ease-in-out;
}

.post-container {
    width: 90%;
    margin: auto;
}

.post-display {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    cursor: pointer;
}

#username {
    margin-left: 15px;
}

#post-date {
    margin-right: 15px;
}

.post-title {
    margin-bottom: 10px;
}

.message-body h5 {
    font-weight: bold;
    font-size: 20px;
}

.message-header {
    background-color: rgb(50, 92, 141);
}

.message-body {
    color: rgb(50, 92, 141);
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-btn {
    position: fixed;
    bottom: 30px;
    z-index: 1;
}

.button {
    background-color: rgb(50, 92, 141);
    color: #ffff;
    opacity: 0.9;
}

.button:hover {
    color: white;
    opacity: 1;
}

.button:focus {
    color: #fff;
    opacity: 1;
}

#submit-reply-btn, #submit-post-btn, #submit-edit-btn {
    border: none;
    border-radius: 5px;
    height: 42px;
    width: 70px;
    background-color: rgb(50, 92, 141);
    color: #ffff;
    opacity: 0.9;
}

#submit-reply-btn:hover, #submit-post-btn:hover, #submit-edit-btn:hover {
    color: white;
    opacity: 1;
}

.new-post-container {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.new-post, .new-reply, .edit-post {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: flex-end;
}

.new-post, .edit-post {
    width: 70%;
}

.new-reply-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 5px 0px;
}

.new-reply {
    width: 50%;
}

.new-post textarea, .new-reply textarea, .edit-post textarea {
    margin: 5px 0px 5px 0px;
}

#new-post-btn {
    opacity: 1;
}

#new-post-btn:hover {
    background-color: rgb(66, 116, 173);
}

.hidden {
    display: none;
}

.expanded-post-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.expanded-post-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.expanded-post, .reply-display, .modify-buttons {
    width: 60%;
    white-space: normal;
    word-wrap: break-word;
}

.reply-display {
    margin-top: 15px;
}

.expanded-post, .reply-message {
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
}

.expanded-post {
    position: relative;
    min-height: 50vh;
}

#expanded-post-title {
    font-weight: bold;
    font-size: 38px;
    margin: 15px;
}

#expanded-post-text {
    font-size: 20px;
    margin: 15px;
}

.expanded-post-label-container {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    margin: 15px;
    color: rgb(138, 138, 138);
}

.delete-btn {
    background-color: rgb(255, 0, 0);
}

.delete-btn:hover {
    background-color: rgb(187, 0, 0);
}

#no-replies {
    text-align: center;
    margin: 10px;
    font-size: 18px;
    color: rgb(138, 138, 138);
}

@media screen and (max-width: 1000px) {

   .modify-buttons {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: flex-start;
       width: 100%;
   }

    .expanded-post, .reply-display, .new-reply {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .mobile-icon-container {
        display: block;
        position: absolute;
        top: 28px;
        right: 0;
        transform: translate(-100%, 60%);
        cursor: pointer;
    }

    .new-post {
        width: 90%;
    }

    #submit-post-btn {
        width: 100%;
    }

    .nav-list {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    header h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 480px) {
    .add-reply-btn, .view-replies-btn, .edit-btn, .delete-btn {
        width: 25%;
        font-size: 12px
    }
}

@media screen and (max-width: 300px) {
    .mobile-icon-container {
        right: -35px;
    }

    .sidebar {
        width: 50%;
    }
}